/*
	CSS applied to player.html
*/


/* Body layout */
html {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

body {
	overflow: hidden;
	height: 500px; 
	width:95%;
}

body.left {
	text-align: left; 
}

body.right {
	text-align: right; 
}

/* Form and data layout */

form {
	height: 90%; 
}

.data {
	width: 90%; 
	height: 50%;
}

/* Visualisation layout */

.visualiser {
	width: 100%; 
	max-height: 100px; 
}

.stroke {
	width: 40px;
	position: absolute;
	bottom: 10px; 
}